/ColorClusterSegmentationStereoTracking/CCSSTracking/CCSSTracking/Debug/CCSSTracking.lastbuildstate
/SingleCameraGroundTracking/.cproject
/SingleCameraGroundTracking/.project

/VisualTrackingUI-GTK/.cproject
/VisualTrackingUI-GTK/.gitignore
/VisualTrackingUI-GTK/.project
/VisualTrackingUI/.cproject
/VisualTrackingUI/.gitignore
/VisualTrackingUI/.project
